.wrapper_metadados {
    width: 100%;
    height: 450px;
    background-color: #FFFFFF;
    padding: 20px 175px;
}

p {
    margin-top: 10px;
}

.wrapper_dados {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 10px 175px;
}

.area_campos {
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-wrapper {
    margin-top: 20px;
    width: 730px;
    height: 120px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.loader {
    animation: 1s is-rotating infinite;
    width: 20px;
    height: 20px;
    border: 2px solid #6F726F;
    border-top-color: #12A53B;
    border-radius: 50%;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}